<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">

    <filter>
        <filter-name>TimezoneValidateFilter</filter-name>
        <filter-class>org.example.servlet.TimezoneValidateFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>TimezoneValidateFilter</filter-name>
        <url-pattern>/time</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>TimeServlet</servlet-name>
        <servlet-class>org.example.servlet.TimeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TimeServlet</servlet-name>
        <url-pattern>/time</url-pattern>
    </servlet-mapping>
</web-app>